<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container my-4" layout:fragment="content">
    <form th:action="@{/update}" th:object="${student}" method="post" class="needs-validation" novalidate>
        <h1 class="text-center">Edit Student with ID : <span th:text="*{id}"></span></h1>
        <input type="hidden" th:field="*{id}" />
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" th:field="*{fname}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a first name.</div>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" th:field="*{lname}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a last name.</div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
                <div class="form-group">
                    <label for="birthdate">Birthdate:</label>
                    <input type="date" id="birthdate" th:field="*{birthdate}" pattern="\d{4}\-\d{2}\-\d{2}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a birthdate.</div>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" disabled th:field="*{age}" class="form-control" required />
                    <div class="invalid-feedback">Please provide an age.</div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="street">Street:</label>
                    <input type="text" id="street" th:field="*{address.streetAddress}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a street address.</div>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" th:field="*{address.city}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a city.</div>
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip Code:</label>
                    <input type="text" id="zipCode" th:field="*{address.postalCode}" class="form-control" required />
                    <div class="invalid-feedback">Please provide a zip code.</div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update Student</button>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-Rf5SmA8HZId3eAOe47bXJeDsd4oZ3YuLJWpiN24uLgWVzqMsO5ytfj1Xokkd3Y3Z"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-b4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+jk60b/iRSU8CGVxOoPk7rsUpJ1F4HW+G0M"
        crossorigin="anonymous"></script>

<!-- JavaScript for Bootstrap form validation -->
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
