<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body style="height: 100vh">
<div class="container-fluid h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="border p-4">
        <h1 class="title h1">Welcome to Home Page</h1>
        <hr class="table-group-divider">
        <nav class="mt-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/students/">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enrollment</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- Bootstrap JS bundle (optional if not using Bootstrap components) -->
<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
